html,body { margin: 0; padding: 0; }
body { font-family: Arial, sans-serif; background: url('../img/bg.png') 0 0 repeat; }
.wrapper { width: 980px; margin: 0 auto; }
.clear { clear: both!important; height: 0; width: 0; }
h1 { text-align: center; margin: 20px 0; font-size: 70px;background: rgba(168, 135, 48, 0.1);color: #B8A07C;text-shadow: 1px 1px 1px white;-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;}
.br5px { -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; }
.timer { position: relative; width: 500px; margin: 25px auto; background: rgba(168, 135, 48, 0.1);border: 5px solid rgba(255, 255, 255, 0.7); -moz-box-shadow: 0 0 5px 0 #B8B8B8; -webkit-box-shadow: 0 0 5px 0 #B8B8B8; box-shadow: 0 0 5px 0 #B8B8B8;padding: 5px; -o-transition:all .2s ease;-webkit-transition: all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease; }
.timer #title, .timer h2 { display: block;width: 500px;max-width: 500px;font-size:25px;line-height: 25px;border: none;  color: #8B6834;background: rgba(255, 255, 255, 0.5);text-shadow: 1px 1px 1px white;padding: 5px 10px; }
.timer #title { -o-transition:all .2s ease-in-out;-webkit-transition: all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
.timer h2 { font-weight: 200; margin: 0; width: auto; min-height: 25px; background: none; }
#curTime { cursor:pointer;text-align: center; display: block; width: 510px; margin: 0 auto;  line-height: 30px; font-size: 30px; color: #777; text-shadow: 1px 1px 0 #fff; font-weight: 700; padding: 10px 0; margin-bottom: -30px; background: rgba(200, 200, 200, 0.1); -moz-box-shadow:inset 0px 2px 4px -2px #AAA; -webkit-box-shadow:inset 0px 2px 4px -2px #AAA; box-shadow:inset 0px 2px 4px -2px #AAA;}
.timer { height: 150px; }
.setup { height: 150px!important; }
.setup .start { display: block; position: absolute; width: 150px; height: 30px; left: 50%;margin-left: -75px;top: 100%;margin-top: -15px; line-height: 30px;background: #DFCBAC;-moz-box-shadow: 0 0 5px 0 #B8B8B8,inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.5);-webkit-box-shadow: 0 0 5px 0 #B8B8B8,inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.5);box-shadow: 0 0 5px 0 #B8B8B8,inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.5);border: 5px solid white;color: #86651F;font-size: 15px;font-weight: 700;text-decoration: none;outline: none;text-align: center;text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.47); -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.setup .start span { position: absolute; display: block; width: 5px; height: 5px; background: #FFF; top: 10px;}
.setup .start span.l { left: -10px; }
.setup .start span.r { left: 100%; margin-left: 5px; }
.setup .start:hover { background: #D5B481; color: #4D380E; -moz-box-shadow: 0 0 5px 0 #B8B8B8,inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 5px 2px rgba(255, 255, 255, 0.5);-webkit-box-shadow: 0 0 5px 0 #B8B8B8,inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 5px 2px rgba(255, 255, 255, 0.5);box-shadow: 0 0 5px 0 #B8B8B8,inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 5px 2px rgba(255, 255, 255, 0.5);}
.setup .userTime { margin: 15px auto 0 auto; padding: 2px; }
.setup .userTime * { margin-right: 15px; float: left; display: block; }
.setup .userTime div.startTime, .setup .userTime div.endTime { border: 2px solid rgba(168, 135, 48, 0.1); padding: 5px; background-color: rgba(255, 255, 255, 0.3); margin: 0; }
.setup .userTime div.centerLine { position: relative; height: 35px; line-height: 35px; border-bottom: 2px solid rgba(168, 135, 48, 0.1);width: 140px;margin: 0; }
.setup .userTime div.centerLine label { margin: 0; padding: 0; line-height: 35px; height: 35px; font-size: 14px; color: #9E7E3D; text-shadow: 1px 1px 1px white; width: 150px; cursor: pointer; }
.setup .userTime div.centerLine label input { margin: 0; padding: 0; line-height: 35px; height: 10px; width: 10px; margin: 8px 2px; padding: 0;line-height: 35px;height: 18px;width: 18px; }
.setup .userTime div.centerLine .showDir { position: absolute; top: 100%; left: 0; width: 140px; height: 35px; line-height: 35px; margin:0; padding: 0; overflow: hidden; }
.setup .userTime div.centerLine .showDir p { position: absolute; top: 0; left: 0; width: 280px; height: 35px; margin:0; padding: 0;  -o-transition:all .2s ease;-webkit-transition: all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease; }
.setup .userTime div.centerLine .showDir p.change { margin-left: -140px; }
.setup .userTime div.centerLine .showDir p span { display: block; width: 140px; height: 35px; text-align: center; font-size: 30px; line-height: 25px; margin: 0; padding: 0; }
.setup .userTime > div > input:last-child { margin: 0; }
.setup .userTime input { width: 60px; height: 60px; border: none;  background: rgba(168, 135, 48, 0.1); font-size: 40px;line-height: 60px;text-align: center;color: rgb(165, 129, 76);text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); }
.setup .userTime span { display: block; float: left; line-height: 60px; font-size: 50px; color: #B8A07C;text-shadow: 1px 1px 1px #FFF;  }
.timersBlock { overflow: hidden; background: rgba(200, 200, 200, 0.05); margin: 40px 0 10px 0; padding: 0 0 10px 0; border-top: 7px solid rgba(184, 160, 124, 0.5); -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
.progressBar { background-color: rgba(206, 168, 112, 0.4);height: 25px;padding: 4px;width: auto;margin: 20px 0 0 0;-moz-box-shadow: 0 1px 0 white, inset 0 2px 5px -2px rgba(0, 0, 0, 0.7);-webkit-box-shadow: 0 1px 0 white, inset 0 2px 5px -2px rgba(0, 0, 0, 0.7); box-shadow: 0 1px 0 white, inset 0 2px 5px -2px rgba(0, 0, 0, 0.7);overflow: hidden;  -o-transition:all .2s ease;-webkit-transition: all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease; }
.progressBar span { width: 0;display: inline-block;height: 100%;background-color: #777;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 4px 2px -2px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 4px 2px -2px rgba(0, 0, 0, 0.2);box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 4px 2px -2px rgba(0, 0, 0, 0.2);-webkit-transition: width .4s ease-in-out;-moz-transition: width .4s ease-in-out;-ms-transition: width .4s ease-in-out;-o-transition: width .4s ease-in-out;transition: width .4s ease-in-out; background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 210, 113)), to(rgb(160, 112, 38)));background-image: -webkit-linear-gradient(top, rgb(255, 210, 113), rgb(160, 112, 38));background-image: -moz-linear-gradient(top, rgb(255, 210, 113), rgb(160, 112, 38));background-image: -ms-linear-gradient(top, rgb(255, 210, 113), rgb(160, 112, 38));background-image: -o-linear-gradient(top, rgb(255, 210, 113), rgb(160, 112, 38));background-image: linear-gradient(top, rgb(255, 210, 113), rgb(160, 112, 38));}
.invert .progressBar span { float: right; }
.perc span {  display: inline-block; color: #555; width: 33%; font-size: 30px; -o-transition:all .2s ease;-webkit-transition: all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease; }
.perc span.zero { float: left; text-align: left;  }
.perc span.hudr { float: right; text-align: right; }
.perc .timeBlock { font-size: 14px;margin: 10px 0;color: #B48F59;text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);font-weight: 700;position: relative; }
.centrBack { opacity: 0; text-align: center; font-size: 40px!important; height: 70px; background: rgba(168, 135, 48, 0.1); text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);color: #333; -moz-box-shadow: inset 0 -5px 4px -2px #fff;-webkit-box-shadow: inset 0 -5px 4px -2px #fff;box-shadow: inset 0 -5px 4px -2px #fff;}
.appended { margin-top: -140px; top: -70px; opacity: 0;}
.close { z-index: 100; position: absolute; text-decoration: none; outline: none; left: 100%; top: 0; background: rgba(133, 204, 68, 0.8); border: 5px solid white;height: 20px;width: 20px;text-align: center;font-weight: 700;font-size: 18px;line-height: 20px;color: rgb(255, 255, 255);margin: -18px 0 0 -12px; -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);box-shadow: 0 0 0 1px rgba(0,0,0,.1);}
.close:hover { background-color: #85CC44; }
.successEndInv .close { background-color: rgba(68, 150, 204, 0.8); }
.successEndInv .close:hover { background-color: #4496CC; }
.successEnd .close { background-color: rgba(204, 68, 68, 0.8); }
.successEnd .close:hover { background-color: #C44; }
.statusText { position: absolute;top: 120px; opacity: 0; left: 50%;width: 160px;margin-left: -80px;text-align: center;text-transform: uppercase;font-size: 12px;text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); -o-transition:all .2s ease;-webkit-transition: all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease; }
.wait { color: #8B8B8B; }
.inProcess { color: #8A6C20; }
.complete { color: #208A24;}
.notActive { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }
.notActive .statusText { opacity: 1; top: 125px; }
.notActive .centrBack { opacity: 1; }
.successEnd, .successEndInv { opacity: .8; height: 70px; -moz-box-shadow: -25px 0 15px -20px rgba(34, 172, 34, 0.2),25px 0 15px -20px rgba(34, 172, 34, 0.2),0 25px 15px -20px rgba(34, 172, 34, 0.2),0 -25px 15px -20px rgba(34, 172, 34, 0.2); -webkit-box-shadow: -25px 0 15px -20px rgba(34, 172, 34, 0.2),25px 0 15px -20px rgba(34, 172, 34, 0.2),0 25px 15px -20px rgba(34, 172, 34, 0.2),0 -25px 15px -20px rgba(34, 172, 34, 0.2); box-shadow: -25px 0 15px -20px rgba(34, 172, 34, 0.2),25px 0 15px -20px rgba(34, 172, 34, 0.2),0 25px 15px -20px rgba(34, 172, 34, 0.2),0 -25px 15px -20px rgba(34, 172, 34, 0.2); }
.successEnd .progressBar, .successEndInv .progressBar { height: 0; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); padding: 1px; margin-top: 0; background: #DFCBAC; }
.successEnd .curPerc, .successEndInv .curPerc { opacity: 0; }
.timer .timeBlock i.icon-time { float: right; cursor: pointer; }
.invert .timeBlock i.icon-time { float: left; }
.timeBlock b { margin: 0 0; opacity: 0;  -o-transition:all .2s ease;-webkit-transition: all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;  }
.timeBlock b.active, .timeBlock b.clicked { margin: 0 10px; opacity: 1; }
.timeBlock b.clicked { color: #9C7D4F;  }

#title {box-shadow: 0 0 0 0 rgba(255,0,0,.3);}
#title.error {box-shadow: 0 0 0 10px rgba(255,0,0,0),0 0 2px 3px rgba(255,0,0,.1);}
#title.error::-webkit-input-placeholder {color: #333;}
#title.error:-moz-placeholder { color: #333;}
#title.error::-moz-placeholder { color: #333;}
#title.error:-ms-input-placeholder {  color: #333;}